@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgba(238, 238, 238, 0.466);
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;

    font-family: 'Roboto', sans-serif;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active{
    color: rgb(255, 0, 149);
}

a:visited {
    color: grey
}

.avatar {

    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info{
    display: flex;
    margin-bottom: 20px;
}

.info-text{
    margin-left: 40px;
}

.info-text{
    margin-bottom: 10px;
}

.info p {
color: #57595e;
margin:0px;
font-style: italic;
font-weight: bold;
text-decoration: none;
}


.container {
max-width: 750px;
margin: auto;
padding-top: 30px;
}

.bg-white {
background: rgb(247, 235, 235);
}

.bg-pink{
background: rgb(255, 232, 236);
}

.bg-grey{
background: #ffe4e7;

}
.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2{
    margin-top: 5px;
}

.list {
    padding: 0 20px;
}

.list li{
    color: #57595e;
    margin-bottom: 10px;
}

.table{
  width: 100%;  
}

.table td{
    padding-bottom: 10px;
}

.table td:nth-child(2),.table td:nth-child(3){
    color:grey
}

.contact {
    text-align: center;
}

.form-group label{
    display: block;
    font: size 14px;
    color: #57595e;
}

.form-group input,.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
}

.btn{
    background: #ffbac2;
    padding: 15px 20px;
    color: #ffffff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}